<div class="container-artigo" >
    <div class="row">
        <div class="col">
            <h1><%= @article.title%></h1>

            <p><%= @article.body %></p>
        </div>
        <div class="col-2">
            <%= link_to "Editar", edit_article_path(@article), class:"btn btn-primary"%>

            <%= button_to "Apagar", article_path(@article),
                            method: :delete,
                            data: { confirm: "Are you sure?" },
                            class: "btn btn-primary" %>
        </div>
    </div>

    <div>
        <div class="d-flex">
            <div class="p-2"><h2>Comentários</h2></div>
            <div class="ms-auto p-2"><%= link_to 'Adicionar comentário', '#', class: 'btn btn-primary', onclick: 'mostrarFormularioComentario(); return false;' %></div>
        </div>

        <div id="divFormularioComentario" class="collapse">
            <div class="card card-body">
                <%= render 'comments/form' %>  
            </div>
        </div>
        
        <script>
        function mostrarFormularioComentario() {
            var divFormulario = document.getElementById('divFormularioComentario');
            divFormulario.classList.toggle('show');
        }
        </script>
    </div>

    <div>
        <%= render @article.comments %>
    </div>

    
</div>